
# Ignorowanie notatek
obsidian_vault/
klasyfikator_vault/

# Ignorowanie checkpoint'ów
*/.ipynb_checkpoints/*
*/__pycache__/*
*/.ipynb_checkpoints/
*/__pycache__/
libraries/FCM/__pycache__/
libraries/FCM/.ipynb_checkpoints/
libraries/tests/__pycache__/
libraries/tests/.ipynb_checkpoints/

# Ignorowanie zbiorów danych
datasets/

#Ignorowanie chekpoint'ów
.ipynb_checkpoints/